<div class="mini-nav pr-4">
    <a class="cursor" [ngx-scroll-to]="'#destination1'"> Perfil </a>
    <a class="cursor ml-3" [ngx-scroll-to]="'#destination2'"> Equipo </a>
    <a class="cursor ml-3" [ngx-scroll-to]="'#destination3'"> Contacto </a>
</div>
<section id="destination1" class="container mt-5">
    <div class="row">
        <div class="col-12">
            <img class="img-fluid" alt="Responsive image" src="./assets/img/2.jpg">
        </div>
        <h3 class="col-12 Robo3 mt-4">
            PERFIL
        </h3>
        <div class="col-xl-6 col-12 mt-4">
            ECRS es un estudio colaborativo formado por jóvenes arquitectos dedicados al desarrollo de proyectos de
            arquitectura, interiorismo y urbanismo, ubicado en la ciudad de Guadalajara, Jalisco, y con presencia en
            diversas ciudades del país.
            <br><br>
            El equipo cuenta con experiencia en proyectos de distintas escalas y rubros, brindando el mismo nivel de
            cuidado, atención, y entusiasmo al desarrollar desde intervenciones puntuales hasta proyectos de alta
            complejidad y magnitud.
        </div>
        <div class="col-xl-6 col-12 mt-4 ">
            Nuestro mayor compromiso es la resolución de las necesidades de usuarios y clientes a través de la
            innovación, partiendo del análisis y la exploración de cada situación particular. El equipo de ECRS hace uso
            de la creatividad y experiencia para generar proyectos que tengan un impacto positivo en nuestro entorno,
            que trasciendan y aporten a nuestra cultura, creando valor social que les diferencie del mercado.
            <br><br>
            Consideramos de gran relevancia la exploración y colaboración con más disciplinas que enriquezcan nuestros
            procesos creativos, y por consecuencia nuestros proyectos.
            <br><br>
            Somos conscientes de los actuales problemas relacionados con la arquitectura, la ciudad y el medio ambiente,
            por lo que en ECRS, reconocemos nuestro trabajo como una oportunidad para desempeñar un papel relevante y
            benéfico para la sociedad
        </div>
    </div>
</section>
<!-- equipo -->
<section id="destination2" class="container my-5">
    <div class="row">
        <h3 class="col-12 Robo3 my-4">
            EQUIPO
        </h3>
        <div class="card col-xl-4 col-12">
            <img src="./assets/img/erick.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Erick Serrano <br>
                    puesto <br>
                    est@ecrs.mx
                </p>
            </div>
        </div>
        <div class="card col-xl-4 col-12">
            <img src="./assets/img/moni.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Mónica Morales <br>
                    puesto <br>
                    est@ecrs.mx
                </p>
            </div>
        </div>
        <div class="card col-xl-4 col-12">
            <img src="./assets/img/ale.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Alejandra Huesca <br>
                    puesto <br>
                    est@ecrs.mx
                </p>
            </div>
        </div>
    </div>
    <!-- insert map -->
    <!-- using a responsive iframe -->
    <div class="responsive-map-container mt-5">
        <!-- place the iframe code between here... -->
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1737.6221882978507!2d-98.48650795000005!3d29.421653200000023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c58aa57e6a56f%3A0xf08a9ad66f03e879!2sHenry+B.+Gonzalez+Convention+Center!5e0!3m2!1sen!2sus!4v1393884854786"
            width="600" height="450" frameborder="0" style="border:0"></iframe>
        <!-- ... and here -->
    </div>
    <!-- /insert map -->
</section>
<section id="destination3" class="container mt-5">
    <div class="row">
        <h3 class="col-12 Robo3 mt-4">
            CONTACTO
        </h3>
        <div class="col-xl-6 col-12 mt-5">
            <p class="secondary-text">
                Calle Agustin Lara 5775 <br>
                Col. La Estancia C.P 45037 <br>
                Zapopan, Jalisco, Mexico <br><br>
                contacto@ecrs.mx <br><br>
                Tel. +52 (33) 333 333
            </p>
        </div>
        <form class="col-xl-6 col-12 mt-5">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Nombre" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" id="exampleFormControlInput2">
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" placeholder="Telefono" id="exampleFormControlInput3">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Mensaje"
                    rows="3"></textarea>
            </div>
        </form>
    </div>
</section>
<footer>
    <div class="text-center m0">
        <p class="m-0 p-0"> Copyright &copy; 2018 | All rights reserved | Privacy Policy </p>
    </div>
    <div class="text-center mb-3">
        <a href="">
            <img width="30"
                src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                alt="face">
            <img width="30"
                src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                alt="face">
            <img width="30"
                src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                alt="face">
            <img width="30"
                src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                alt="face">
        </a>
    </div>
</footer>