<!-- <div class="mini-nav pr-4">
    <a class="cursor"> Perfil </a>
    <a class="cursor ml-3"> Equipo </a>
    <a class="cursor ml-3"> Contacto </a>
</div> -->
<section class="container min-full">
    <div class="row">
        <div class="container-card col-4 mt-4 cursor">
            <img src="./assets/img/2.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
        <div class="container-card col-4 mt-4">
            <img src="./assets/img/2.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
        <div class="container-card col-4 mt-4">
            <img src="./assets/img/2.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
        <div class="container-card col-4 mt-4">
            <img src="./assets/img/2.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
        <div class="container-card col-4 mt-4">
            <img src="./assets/img/2.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
        <div class="container-card col-4 mt-4">
            <img src="./assets/img/2.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>

</section>
<footer>
    <div class="text-center m0">
        <p class="m-0 p-0"> Copyright &copy; 2018 | All rights reserved | Privacy Policy </p>
    </div>
    <div class="text-center mb-3">
        <a href="">
            <img width="30"
                src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                alt="face">
            <img width="30"
                src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                alt="face">
            <img width="30"
                src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                alt="face">
            <img width="30"
                src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                alt="face">
        </a>
    </div>
</footer>