<section>
    <img src="./assets/img/2.jpg" alt="Avatar" class="mt-5">

    <h3 class="text-center my-5">NOMBRE DE PROYECTO</h3>
    <div class="row justify-content-center">
        <p class="col-xl-6 col-10 mt-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quas odit quasi aliquam sint voluptatum,
            eius
            in exercitationem laudantium dolorem molestiae voluptas cumque ab harum tenetur amet sapiente iste unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quas odit quasi aliquam sint voluptatum,
            eius
            in exercitationem laudantium dolorem molestiae voluptas cumque ab harum tenetur amet sapiente iste unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quas odit quasi aliquam sint voluptatum,
            eius
            in exercitationem laudantium dolorem molestiae voluptas cumque ab harum tenetur amet sapiente iste unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quas odit quasi aliquam sint voluptatum,
            eius
            in exercitationem laudantium dolorem molestiae voluptas cumque ab harum tenetur amet sapiente iste unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quas odit quasi aliquam sint voluptatum,
            eius
            in exercitationem laudantium dolorem molestiae voluptas cumque ab harum tenetur amet sapiente iste unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quas odit quasi aliquam sint voluptatum,
            eius
            in exercitationem laudantium dolorem molestiae voluptas cumque ab harum tenetur amet sapiente iste unde.
        </p>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-4 col-10 mt-5">
            <h4 class="info">Text Here</h4>
            <h4 class="info">Text Here</h4>
            <h4 class="info">Text Here</h4>
            <h4 class="info">Text Here</h4>
        </div>  
    </div>


</section>

<footer class="mt-5">
    <div class="text-center m0">
        <p class="m-0 p-0"> Copyright &copy; 2018 | All rights reserved | Privacy Policy </p>
    </div>
    <div class="text-center mb-3">
        <a href="">
            <img width="30"
                src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                alt="face">
            <img width="30"
                src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                alt="face">
            <img width="30"
                src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                alt="face">
            <img width="30"
                src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                alt="face">
        </a>
    </div>
</footer>