<section class="full over">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/z0I62fZe7ds" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
<section class="footer">
        <div class="footer-item">
            <p> Copyright &copy; 2018 | All rights reserved | Privacy Policy </p>
        </div>
        <div class="text-center">
            <a href="">
                <img width="30" src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" alt="face">
                <img width="30" src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" alt="face">
                <img width="30" src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" alt="face">
                <img width="30" src="https://imageog.flaticon.com/icons/png/512/33/33702.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" alt="face">
            </a>
        </div>
</section>